<template>
  <section class="m-t-80 p-b-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="page-error-404">404</div>
        </div>
        <div class="col-lg-6">
          <div class="text-start">
            <h1 class="text-medium">Ooops, This Page Could Not Be Found!</h1>
            <p class="lead">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'error',
    props: ['error'],
    layout: 'header-light'
  }
</script>