/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/
#header .header-inner #logo a span {
    font-family: 'Sensations';
    font-size: 70px;
    font-weight: 400;
}

#header[data-transparent="true"] + div .inspiro-slider, #header[data-transparent="true"] + #slider, #header[data-transparent="true"] + div .fullscreen, #header[data-transparent="true"] + div .halfscreen, #header[data-transparent="true"] + div #google-map {
    top: -80px;
    margin-bottom: -80px;
}

#header[data-transparent="true"] + div #page-title {
    top: -120px;
    margin-bottom: -124px;
    position: relative;
    padding: 220px 0 160px 0;
}

.heading-text.heading-section h2:before {
    background-color: #cda85d !important;
    width: 120px;
}

a:not(.btn):not(.badge):hover, a:not(.btn):not(.badge):focus, a:not(.btn):not(.badge):active {
    color: #cda85d !important;
}

#footer .copyright-content {
    min-height: 0px;
    padding: 5px 0;
    background-color: #000;
}

.copyright-text {
    color: #fff;
}

.pagination .page-link {
    border-color: #cda85d !important;
}

a:hover,
a.nuxt-link-exact-active,
#mainMenu nav ul li:hover a,
.pagination .page-item:not(.disabled).active .page-link {
    color: #cda85d !important;
}

a.nuxt-link-active {
    font-weight: bold !important;
    color: #cda85d !important;
}

.p-dropdown-content a.nuxt-link-active, .plan-button a.nuxt-link-active {
    font-weight: unset !important;
    color: unset !important;
}

.plan-button a:active {
    background-color: rgba(205, 168, 93, 0.2) !important;
    border-color: unset !important;
}

.p-dropdown-content a.nuxt-link-exact-active, .plan-button a.nuxt-link-exact-active {
    color: #cda85d !important;
}

.pagination .page-item:not(.disabled).active > .page-link, .pagination .page-item:not(.disabled):active > .page-link, .pagination .page-item:not(.disabled):focus > .page-link, .pagination .page-item:not(.disabled):hover > .page-link {
    background-color: rgba(205, 168, 93, 0.2) !important;
}

.post-item-description p {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 16.2em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.8em;
    text-align: justify;
    display: -webkit-box; -webkit-line-clamp: 9; -webkit-box-orient: vertical;
}

.page-title p {
    text-align: justify;
}

.flickity-button:hover {
    background-color: #000 !important;
}

.flickity-button:hover:before {
    color: #cda85d !important;
}

/* .grid-layout {
    overflow: unset;
} */

@media (max-width: 600px) {
    #header .header-inner #logo a span {
        font-size: 40px;
    }

    .post-item-description h2 {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .post-item .post-item-description {
        padding: 24px 0;
    }
}