<template>
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-image">
        <nuxt-link :to="localePath({path: '/room/' + data.room_name_slug})">
          <img :src="data.first_detailroom.picture_url_thumb" onerror="if (this.src != '/noimage.jpeg') this.src = '/noimage.jpeg';" />
        </nuxt-link>
      </div>
      <div class="post-item-description">
        <span class="post-meta-date">
          <i class="fa fa-calendar"></i>{{ $moment(data.created_at).locale(this.$i18n.locale).format('DD MMM, YYYY') }}
        </span>
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <nuxt-link :to="localePath({path: '/room/' + data.room_name_slug})">
              <h2>{{c_room_name}}</h2>
            </nuxt-link>
          </div>
          <div class="col-lg-6 col-sm-12" style="text-align: right;">
            <nuxt-link :to="localePath({path: '/room/' + data.room_name_slug})">
              <h2>{{$numeral(data.room_price).format()}}<span class="per">/{{$t('night')}}</span></h2>
            </nuxt-link>
          </div>
        </div>
        <p>{{c_room_desc}}</p>
        <nuxt-link :to="localePath({path: '/room/' + data.room_name_slug})" class="item-link">
          {{$t('read_more')}} <i class="icon-chevron-right"></i>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
h2 .room_name {
  width: 60%;
}
h2 .room_price {
  width: 40%;
  float: right;
  text-align: right;
}
.per {
  font-size: 12px;
  color: #bdc3c7;
}
.post-item-description h2 {
  font-size: 1.6em;
}
.post-item-description h2:hover {
  color: #cda85d !important;
}
</style>

<script>
export default {
  props: ['data'],
  computed: {
    c_room_name: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.room_name;
      }
      return this.data.room_name_eng;
    },
    c_room_desc: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.room_description;
      }
      return this.data.room_description_eng;
    }
  }
}
</script>