<template>
  <div class="grid-item">
    <a class="image-hover-zoom" :href="data.gallery_url" data-lightbox="gallery-image">
      <img :src="data.gallery_url_thumb" onerror="if (this.src != '/noimage.jpeg') this.src = '/noimage.jpeg';" />
    </a>
  </div>
</template>

<script>
export default {
  props: ['data']
}
</script>

<style scoped>
.product .product-title {
  max-width: 100%;
  text-align: center;
}
</style>