<template>
  <div class="post-item border">
    <div class="post-item-wrap">
      <div class="post-slider">
        <div class="carousel dots-inside arrows-visible arrows-only" data-items="1" data-loop="true" data-autoplay="true" data-lightbox="gallery">
          <template v-for="item in data.detailpromotion">
            <a :href="item.picture_url" data-lightbox="gallery-image" :key="item.id">
              <img alt="" :src="item.picture_url_thumb" onerror="if (this.src != '/noimage.jpeg') this.src = '/noimage.jpeg';" />
            </a>
          </template>
        </div>
      </div>
      <div class="post-item-description">
        <h2><nuxt-link :to="localePath({path: '/promo/' + data.promotion_name_slug})" class="item-link">{{c_promotion_name}}</nuxt-link></h2>
        <p>{{c_promotion_desc}}</p>
        <nuxt-link :to="localePath({path: '/promo/' + data.promotion_name_slug})" class="item-link">
          {{$t('read_more')}} <i class="icon-chevron-right"></i>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<style scoped>
.post-item-description p {
  white-space: pre;
  -webkit-line-clamp: 4;
}
</style>

<script>
export default {
  props: ['data'],
  computed: {
    c_promotion_name: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.promotion_name;
      }
      return this.data.promotion_name_eng;
    },
    c_promotion_desc: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.promotion_description;
      }
      return this.data.promotion_description_eng;
    }
  },
}
</script>