<template>
  <div class="post-item border">
    <div class="post-item-wrap">
      <div class="post-slider">
        <div class="carousel dots-inside arrows-visible arrows-only" data-items="1" data-loop="true" data-autoplay="true" data-lightbox="gallery">
          <template v-for="item in data.detailevent">
            <a :href="item.picture_url" data-lightbox="gallery-image" :key="item.id">
              <img alt="" :src="item.picture_url_thumb" onerror="if (this.src != '/noimage.jpeg') this.src = '/noimage.jpeg';" />
            </a>
          </template>
        </div>
      </div>
      <div class="post-item-description">
        <h2>{{c_event_name}}</h2>
        <p>{{c_event_desc}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  computed: {
    c_event_name: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.event_name;
      }
      return this.data.event_name_eng;
    },
    c_event_desc: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.event_description;
      }
      return this.data.event_description_eng;
    }
  }
}
</script>