<template>
  <div class="post-item border">
    <div class="post-item-wrap">
      <div class="post-image">
        <a :href="data.link_map" target="_blank"><img alt="" :src="data.picture_url_thumb" onerror="if (this.src != '/noimage.jpeg') this.src = '/noimage.jpeg';" /></a>
      </div>
      <div class="post-item-description">
        <h2><a :href="data.link_map" target="_blank">{{c_around_name}}</a></h2>
        <p>{{c_around_desc}}</p>
        <a :href="data.link_map" class="item-link" target="_blank">{{$t('map_overview')}} <i class="icon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  computed: {
    c_around_name: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.around_name;
      }
      return this.data.around_name_eng;
    },
    c_around_desc: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.around_description;
      }
      return this.data.around_description_eng;
    }
  }
}
</script>