<template>
  <div class="post-item border">
    <div class="post-item-wrap">
      <div class="post-slider">
        <div class="carousel dots-inside arrows-visible arrows-only" data-items="1" data-loop="true" data-autoplay="true" data-lightbox="gallery">
          <a :href="data.picture_url" data-lightbox="gallery-image">
            <img alt="" :src="data.picture_url_thumb" onerror="if (this.src != '/noimage.jpeg') this.src = '/noimage.jpeg';">
          </a>
        </div>
      </div>
      <div class="post-item-description">
        <h2><nuxt-link :to="localePath({path: '/facility/' + data.facility_name_slug})" class="item-link">{{c_facility_name}}</nuxt-link></h2>
        <p>{{c_facility_desc}}</p>
        <nuxt-link :to="localePath({path: '/facility/' + data.facility_name_slug})" class="item-link">
          {{$t('read_more')}} <i class="icon-chevron-right"></i>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  computed: {
    c_facility_name: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.facility_name;
      }
      return this.data.facility_name_eng;
    },
    c_facility_desc: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.facility_description;
      }
      return this.data.facility_description_eng;
    }
  }
}
</script>
