<template>
  <ul v-if="data" class="pagination justify-content-center">
    <template v-if="showPrev">
      <li class="page-item" v-if="prev">
        <nuxt-link class="page-link" :to="localePath(routeToPage(prev))"><i class="fa fa-angle-left"></i></nuxt-link>
      </li>
      <li class="page-item disabled" v-else>
        <a class="page-link"><i class="fa fa-angle-left"></i></a>
      </li>
    </template>
    <li class="page-item" v-for="it in prevPages" :key="it">
      <nuxt-link v-if="it !== -1" :key="it" :to="localePath(routeToPage(it))" class="page-link">{{ it }}</nuxt-link>
      <span v-else :key="it" class="page-link more">...</span>
    </li>
    <li class="page-item"><a class="page-link active">{{ page }}</a></li>
    <li class="page-item" v-for="it in nextPages" :key="it">
      <nuxt-link v-if="it !== -1" :key="it" :to="localePath(routeToPage(it))" class="page-link">{{ it }}</nuxt-link>
      <span v-else :key="it" class="page-link more">...</span>
    </li>
    <template v-if="showNext">
      <li class="page-item" v-if="next">
        <nuxt-link class="page-link" :to="localePath(routeToPage(next))"><i class="fa fa-angle-right"></i></nuxt-link>
      </li>
      <li class="page-item disabled" v-else>
        <a class="page-link"><i class="fa fa-angle-right"></i></a>
      </li>
    </template>
  </ul>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    showNext: {
      type: Boolean,
      default: true
    },
    showPrev: {
      type: Boolean,
      default: true
    },
    maxPagesToList: {
      type: Number,
      default: 7
    },
    scrollToClass: {
      type: String,
      default: 'container'
    },
  },
  computed: {
    page: function() {
      let queryPage = this.$nuxt.$route.query.page;
      if(!queryPage) queryPage = 1;
      return parseInt(queryPage);
    },
    lastPage: function() {
      return this.data.last_page;
    },
    noOfPagesBefore: function() {
      return this.page - 1;
    },
    noOfPagesAfter: function() {
      return this.lastPage - this.page;
    },
    showMorePrev: function() {
      return this.maxPagesToList - Math.min(Math.floor(this.maxPagesToList / 2), this.noOfPagesAfter) <= this.noOfPagesBefore;
    },
    showMoreNext: function() {
      return this.maxPagesToList - Math.min(Math.floor(this.maxPagesToList / 2), this.noOfPagesBefore) <= this.noOfPagesAfter;
    },
    next: function() {
      return this.nextPage(this.page);
    },
    prev: function() {
      return this.prevPage(this.page);
    },
    prevPages: function() {
      let pages = [];
      let _page = this.page;
      let iterations = this.maxPagesToList - 1 - Math.min(Math.floor(this.maxPagesToList / 2), this.noOfPagesAfter) - (this.showMorePrev ? 2 : 0);
      while (iterations > 0 && _page !== null) {
        _page = this.prevPage(_page);
        if (_page !== null) {
          pages.unshift(_page);
        }
        iterations--;
      }
      if (this.showMorePrev) {
        pages.unshift(-1);
        pages.unshift(1);
      }
      return pages;
    },
    nextPages: function() {
      let pages = [];
      let _page = this.page;
      let iterations = this.maxPagesToList - 1 - Math.min(Math.floor(this.maxPagesToList / 2), this.noOfPagesBefore) - (this.showMoreNext ? 2 : 0);
      while (iterations > 0 && _page !== null) {
        _page = this.nextPage(_page);
        if (_page !== null) {
          pages.push(_page);
        }
        iterations--;
      }
      if (this.showMoreNext) {
        pages.push(-1);
        pages.push(this.lastPage);
      }
      return pages.filter(this.filterPage);
    },
  },
  methods: {
    nextPage: function(page) {
      const next = page + 1;
      if (next <= this.lastPage) {
        return next
      }
      return null
    },
    prevPage: function(page) {
      const prev = page - 1;
      return prev >= 1 ? prev : null;
    },
    filterPage: function(page) {
      return page <= this.lastPage;
    },
    routeToPage: function(page) {
      const query = { ...this.$nuxt.$route.query };
      if (page <= 1) {
        delete query['page'];
      }
      else {
        query['page'] = page;
      }
      if (process.browser) {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      }
      return { query: query };
    },
  }
}
</script>

<style>
  .pagination a.nuxt-link-active {
    font-weight: 400 !important;
    color: #3c4043 !important;
  }
  .pagination a.nuxt-link-exact-active,
  .pagination a.page-link.active {
    font-weight: bold !important;
    color: #cda85d !important;
    background-color: rgba(205, 168, 93, 0.2) !important;
  }
  .pagination .page-item.disabled .page-link,
  .pagination .page-item .page-link.more {
    color: #e4e6ef !important;
    background-color: #fff !important;
  }
  .pagination .page-item:hover .page-link.more {
    background-color: #fff !important;
  }
</style>