<template>
  <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
    <div v-for="item in data" :key="item.banner_url_thumb" class="slide kenburns" :data-bg-image="item.banner_url_thumb">
        <div class="bg-overlay"></div>
        <div class="container">
          <div class="slide-captions text-center text-light"></div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data']
}
</script>