<template>
  <div class="post-item">
    <div class="post-item-wrap">
      <div class="post-image">
        <b-skeleton-img></b-skeleton-img>
      </div>
      <div class="post-item-description">
        <b-skeleton width="35%"></b-skeleton>
        <br />
        <b-skeleton width="100%"></b-skeleton>
        <b-skeleton width="75%"></b-skeleton>
        <b-skeleton width="85%"></b-skeleton>
        <br />
        <br />
        <b-skeleton width="20%"></b-skeleton>
      </div>
    </div>
  </div>
</template>