<template>
  <div class="grid-item">
    <div class="product">
      <div class="product-image">
        <b-skeleton-img no-aspect height="400px"></b-skeleton-img>
      </div>
      <div class="product-description">
        <b-skeleton width="85%"></b-skeleton>
        <br />
        <b-skeleton width="100%"></b-skeleton>
        <b-skeleton width="80%"></b-skeleton>
        <b-skeleton width="95%"></b-skeleton>
        <br />
        <b-skeleton width="35%"></b-skeleton>
      </div>
    </div>
  </div>
</template>

<style scoped>
.grid-item {
    padding: 0 20px 20px 0;
}
</style>