<template>
  <section id="page-content" class="sidebar-right">
    <div class="container">
      <div class="row">
        <div class="content col-lg-8 col-sm-12 center">
          <div id="blog" class="single-post">
            <template v-if="$fetchState.pending">
              <skeleton-item-post />
            </template>
            <div v-else class="post-item">
              <div class="post-item-wrap">
                <div class="carousel dots-inside arrows-visible" data-items="1" data-lightbox="gallery">
                  <template v-for="item in room_data.detailroom">
                    <a :href="item.picture_url" data-lightbox="gallery-image" :key="item.id">
                      <img alt="image" :src="item.picture_url_thumb" onerror="if (this.src != '/noimage.jpeg') this.src = '/noimage.jpeg';" >
                    </a>
                  </template>
                </div>
                <div class="post-item-description">
                  <div class="row">
                    <div class="col-lg-6 col-sm-12"><h2>{{c_room_name}}</h2></div>
                    <div class="col-lg-6 col-sm-12" style="text-align: right;"><h2>{{$numeral(room_data.room_price).format()}}<span class="per">/{{$t('night')}}</span></h2></div>
                  </div>
                  <p>{{c_room_desc}}</p>
                </div>
                <div class="heading-text heading-line text-center">
                  <h4>{{$t('menuitems.facility.text')}}</h4>
                </div>
                <div class="row center text-center justify-content-center">
                  <div class="col-lg-4 col-sm-6" v-for="item in room_data.rrmroom" :key="item.id">
                    <div class="icon-box effect medium center">
                      <div class="icon">
                        <a><i class="fa" :class="item.roomfacility.icon_fa"></i></a>
                      </div>
                      <h3>{{item.roomfacility.facility_name}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="css" scoped>
.post-item-description p {
  max-height: 100%;
  -webkit-line-clamp: unset;
}
h2 .room_name {
  width: 50%;
}
h2 .room_price {
  width: 50%;
  float: right;
  text-align: right;
}
.per {
  font-size: 16px;
  color: #bdc3c7;
}
.single-post .post-item .post-item-description h2 {
  font-size: 34px;
  letter-spacing: 0;
  line-height: 38px;
  margin-bottom: 12px;
  margin-top: 8px;
  color: #1e2022;
}
.heading-text.heading-line h4 {
  font-size: 1.8em;
}
.icon-box h3 {
  margin: unset;
  text-align: center;
  font-size: 12px;
}
@media (max-width: 600px){
  .row .col-sm-6 {
    width: 50%;
  }
}
</style>

<script>
import detail from "~/mixins/room/detail";
import start from "~/mixins/start";
export default {
  layout: 'header-light',
  name: 'Room',
  mixins: [detail, start]
}
</script>
