<template>
  <div>
    <template-page-title :data="page_title" />
    <section class="p-b-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-text heading-section">
                        <h2>THE FARREL HOTEL</h2>
                        <span class="lead">{{$t('menuitems.about_us.desc')}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="background-grey">
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>OUR TEAM</h2>
                <span class="lead">Create amaThe most happiest time of the day!.</span>
            </div>
            <div class="row team-members team-members-shadow m-b-40">
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="https://thefarrelhotel-demo2.bangkukayu.com/images/team/6.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>Alea Smith</h3>
                            <span>Software Developer</span>
                            <p>The most happiest time of the day!. Praesent tristique hendrerit ex ut laoreet. </p>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);" data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);" data-width="118">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                    <i class="icon-mail"></i>
                                    <span>Mail</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="https://thefarrelhotel-demo2.bangkukayu.com/images/team/7.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>Ariol Doe</h3>
                            <span>Software Developer</span>
                            <p>The most happiest time of the day!. Praesent tristique hendrerit ex ut laoreet. </p>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);" data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);" data-width="118">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                    <i class="icon-mail"></i>
                                    <span>Mail</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="https://thefarrelhotel-demo2.bangkukayu.com/images/team/8.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>Emma Ross</h3>
                            <span>Software Developer</span>
                            <p>The most happiest time of the day!. Praesent tristique hendrerit ex ut laoreet. </p>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);" data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);" data-width="118">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                    <i class="icon-mail"></i>
                                    <span>Mail</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="https://thefarrelhotel-demo2.bangkukayu.com/images/team/9.jpg">
                        </div>
                        <div class="team-desc">
                            <h3>Victor Loda</h3>
                            <span>Software Developer</span>
                            <p>The most happiest time of the day!. Praesent tristique hendrerit ex ut laoreet. </p>
                            <div class="align-center">
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);" data-width="100">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="javascript: void(0);" data-width="118">
                                    <i class="fab fa-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                    <i class="icon-mail"></i>
                                    <span>Mail</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>WHAT WE DO</h2>
                <span class="lead">Create amaThe most happiest time of the day!.</span>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h4>Web Development</h4>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <h4>Social Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <h4>Graphic Design</h4>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <h4>Web Design</h4>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <h4>App Development</h4>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <h4>Hosting services</h4>
                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="seperator"><i class="fa fa-chevron-down"></i>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="lead">Our awesome clients we've had the pleasure to work with!</p>
                </div>
            </div>
            <ul class="grid grid-5-columns">
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/4.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/5.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/6.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/7.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/8.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/9.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><img src="https://thefarrelhotel-demo2.bangkukayu.com/images/clients/10.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </section>
  </div>
</template>

<script>
import start from "~/mixins/start";
import aboutUs from "~/mixins/about-us";
export default {
  name: 'AboutUs',
  mixins: [aboutUs, start]
}
</script>