<template>
  <section id="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="text-uppercase">{{$t('location')}}</h3>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <address>
                {{home_contact.contact_address}}
                <br />
              </address>
              <table>
                <tr>
                  <td class="first">Phone</td>
                  <td class="second">:</td>
                  <td>{{home_contact.contact_phone_2}} <i class="fa fa-phone"></i></td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td class="first">Whatsapp</td>
                  <td class="second">:</td>
                  <td><a :href="`https://wa.me/${home_contact.contact_phone}?text=Hai%02The%02Farrel%02Hotel.%0DSaya%02ingin%02bertanya%02tentang`" target="_blank">{{home_contact.contact_phone}} <i class="fab fa-whatsapp"></i></a></td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td class="first">Email</td>
                  <td class="second">:</td>
                  <td><a :href="`mailto:${home_contact.contact_email}`" target="_blank">{{home_contact.contact_email}} <i class="icon-mail"></i></a></td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td class="first">Website</td>
                  <td class="second">:</td>
                  <td><a :href="home_contact.contact_website" target="_blank">{{home_contact.contact_website}} <i class="icon-globe"></i></a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <g-map :center="{lat: -7.5827345, lng: 111.895429}" :zoom="18" />
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
a, label, td {
  color: #3c4043 !important;
  font-weight: 600;
  margin-bottom: 0px;
}
tr.spacer {
  display: block;
  padding: 5px;
}
td.first {
  min-width: 90px;
}
td.second {
  min-width: 10px;
}
.fa-whatsapp {
  font-size: 16px;
  color: #25D366;
}
.fa-phone {
  font-size: 16px;
  color: #2196f3;
}
.icon-mail {
  font-size: 16px;
  color: #FF0000;
}
.icon-globe {
  font-size: 16px;
  color: #3f51b5;
}
</style>

<script>
import start from "~/mixins/start";
import contactUs from "~/mixins/contact-us";
export default {
  layout: 'header-light',
  name: 'ContactUs',
  mixins: [contactUs, start]
}
</script>