<template>
  <section id="page-content">
    <div class="container">
      <div class="page-title" style="padding-bottom: 15px;">
        <h1>{{$t('menuitems.event.text')}}</h1>
          <p>{{$t('menuitems.event.desc')}}</p>
      </div>
      <div class="shop">
        <div v-if="loading" class="post-3-columns m-b-20">
          <skeleton-item-post v-for="item in Array(3)" :key="item" />
        </div>
        <div v-else class="grid-layout post-3-columns m-b-20" data-item="post-item">
          <item-event v-for="item in events_data" :key="item.id" :data="item" />
        </div>
        <pagination :data="events_pagination" :scrollToClass="'container'" />
      </div>
    </div>
  </section>
</template>

<script>
import start from "~/mixins/start";
import event from "~/mixins/event";
export default {
  layout: 'header-light',
  name: 'Events',
  mixins: [event, start]
}
</script>