<template>
  <section id="page-content">
    <div class="container">
      <div class="page-title" style="padding-bottom: 15px;">
        <h1>{{$t('menuitems.facility.text')}}</h1>
          <p>{{$t('menuitems.facility.desc')}}</p>
      </div>
      <div class="shop">
        <div v-if="loading" class="post-2-columns m-b-20">
          <skeleton-item-post v-for="item in Array(2)" :key="item" />
        </div>
        <div v-else class="grid-layout post-2-columns m-b-20" data-item="post-item">
          <item-facility v-for="item in facilities_data" :key="item.id" :data="item" />
        </div>
        <pagination :data="facilities_pagination" :scrollToClass="'container'" />
      </div>
    </div>
  </section>
</template>

<script>
import start from "~/mixins/start";
import facility from "~/mixins/facility/index";
export default {
  layout: 'header-light',
  name: 'Facilities',
  mixins: [facility, start]
}
</script>