<template>
  <section id="page-content">
    <div class="container">
      <div v-if="loading" class="grid-4-columns m-b-20">
        <skeleton-item-grid v-for="item in Array(4)" :key="item" />
      </div>
      <div v-else class="grid-layout grid-4-columns m-b-20" data-item="grid-item" data-lightbox="gallery">
        <item-gallery v-for="item in galleries_data" :key="item.id" :data="item" />
      </div>
      <pagination :data="galleries_pagination" :scrollToClass="'container'" />
    </div>
  </section>
</template>

<script>
import start from "~/mixins/start";
import gallery from "~/mixins/gallery";
export default {
  layout: 'header-light',
  name: 'Galleries',
  mixins: [gallery, start]
}
</script>