<template>
  <div>
    <slider :data="banners" />
    <section id="welcome" class="p-t-100 p-b-60">
      <div class="container">
        <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInDown">
          <h2>
            <span class="heading-home">{{$t('welcome_to')}}</span>
            <br />
            <span class="heading-hotel">The Farrel Hotel</span>
          </h2>
          <span class="lead">{{$t('hotel_desc')}}</span>
        </div>
      </div>
    </section>
    <section class="p-t-20 p-b-20">
      <div class="container">
        <div class="heading-text heading-section text-center" data-animate="fadeInUp">
          <h2 class="heading-home">{{$t('our_facility')}}</h2>
        </div>
        <div class="row team-members team-members-shadow m-b-40 justify-content-center">
          <home-item-facility v-for="item in facilities" :key="item.id" :data="item" />
        </div>
      </div>
    </section>
    <section class="p-t-20 p-b-20">
      <div class="container">
        <div class="heading-text heading-section m-b-100 text-center" data-animate="fadeInUp">
          <h2 class="heading-home">{{$t('our_room')}}</h2>
        </div>
        <div class="row pricing-table">
          <home-item-room v-for="(item, index) in rooms" :key="item.id" :data="item" :index="index" />
        </div>
      </div>
    </section>
    <section class="p-t-20 p-b-0">
      <g-map :center="{lat: -7.5827345, lng: 111.895429}" :zoom="18" />
    </section>
  </div>
</template>

<style scoped>
.heading-home {
  font-size: 30px !important;
}
.heading-hotel {
  font-family: 'Sensations';
  font-size: 100px;
  line-height: 100px;
}
</style>

<script>
import start from "~/mixins/start";
import home from "~/mixins/home";
export default {
  name: 'Home',
  mixins: [home, start]
}
</script>
