<template>
  <section id="page-content">
    <div class="container">
      <div class="page-title" style="padding-bottom: 15px;">
        <h1>{{$t('menuitems.promo.text')}}</h1>
          <p>{{$t('menuitems.promo.desc')}}</p>
      </div>
      <div class="shop">
        <div v-if="loading" class="post-2-columns m-b-20">
          <skeleton-item-post v-for="item in Array(2)" :key="item" />
        </div>
        <div v-else class="grid-layout post-2-columns m-b-20" data-item="post-item">
          <item-promotion v-for="item in promotions_data" :key="item.id" :data="item" />
        </div>
        <pagination :data="promotions_pagination" :scrollToClass="'container'" />
      </div>
    </div>
  </section>
</template>

<script>
import start from "~/mixins/start";
import promo from "~/mixins/promo";
export default {
  layout: 'header-light',
  name: 'Promotions',
  mixins: [promo, start]
}
</script>