<template>
  <section id="page-content">
    <div class="container">
        <div class="page-title" style="padding-bottom: 15px;">
          <h1>{{$t('menuitems.room.text')}}</h1>
          <p>{{$t('menuitems.room.desc')}}</p>
        </div>
        <div id="blog" class="post-thumbnails">
          <skeleton-item-post v-if="loading" />
          <item-room v-else v-for="item in rooms_data" :key="item.id" :data="item" />
        </div>
        <pagination :data="rooms_pagination" :scrollToClass="'container'" />
    </div>
  </section>
</template>

<script>
import start from "~/mixins/start";
import room from "~/mixins/room";
export default {
  layout: 'header-light',
  name: 'Rooms',
  mixins: [room, start]
}
</script>