<template>
  <section id="page-content">
    <div class="container">
      <div v-if="loading" class="post-3-columns m-b-20">
        <skeleton-item-post v-for="item in Array(3)" :key="item" />
      </div>
      <div v-else class="grid-layout post-3-columns m-b-20" data-item="post-item">
        <item-surrounding v-for="item in surroundings_data" :key="item.id" :data="item" />
      </div>
      <pagination :data="surroundings_pagination" :scrollToClass="'container'" />
    </div>
  </section>
</template>

<style scoped>
  .post-item-description p {
    max-height: unset;
    -webkit-line-clamp: unset;
  }
</style>

<script>
import start from "~/mixins/start";
import surrounding from "~/mixins/surrounding";
export default {
  layout: 'header-light',
  name: 'Surroundings',
  mixins: [surrounding, start]
}
</script>