<template>
  <section id="page-content" class="sidebar-right">
    <div class="container">
      <div class="row">
        <div class="content col-lg-8 col-sm-12 center">
          <div id="blog" class="single-post">
            <template v-if="$fetchState.pending">
              <skeleton-item-post />
            </template>
            <div v-else class="post-item">
              <div class="post-item-wrap">
                <h2>{{c_promotion_name}}</h2>
                <div class="carousel dots-inside arrows-visible" data-items="1" data-lightbox="gallery">
                  <template v-for="item in promotion_data.detailpromotion">
                    <a :href="item.picture_url" data-lightbox="gallery-image" :key="item.id">
                      <img alt="image" :src="item.picture_url_thumb" onerror="if (this.src != '/noimage.jpeg') this.src = '/noimage.jpeg';" >
                    </a>
                  </template>
                </div>
                <div class="post-item-description">
                  <p>{{c_promotion_desc}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>
.post-item-description p {
  white-space: pre-wrap;
  -webkit-line-clamp: unset;
  max-height: unset;
}
</style>

<script>
import start from "~/mixins/start";
import detail from "~/mixins/promo/detail";
export default {
  layout: 'header-light',
  name: 'Promo',
  mixins: [detail, start]
}
</script>
