<template>
  <footer id="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row gap-y">
          <div class="col-md-6 col-xl-4">
            <p class="text-center">
              <img src="/logo.jpg" alt="logo" width="160">
            </p>
            <a href="https://www.google.com/maps/place/The+Farrel+Hotel+Nganjuk/@-7.5827431,111.8954159,18.3z/data=!4m5!3m4!1s0x2e784b11506e3a09:0xc585024dad8656c0!8m2!3d-7.5826854!4d111.895363" target="_blank">
              <p class="text-center">{{home_contact.contact_address}}</p>
            </a>
          </div>
          <div class="col-6 col-md-3 col-xl-2">
            <div class="widget">
              <h4>{{$t('menuitems.facility.text')}}</h4>
              <ul class="list">
                <li><nuxt-link :to="localePath(menuItems[0].link)">{{ $t('menuitems.room.text') }}</nuxt-link></li>
                <li><nuxt-link :to="localePath(menuItems[1].link)">{{ $t('menuitems.facility.text') }}</nuxt-link></li>
                <li><nuxt-link :to="localePath(menuItems[2].link)">{{ $t('menuitems.event.text') }}</nuxt-link></li>
                <li><nuxt-link :to="localePath(menuItems[3].link)">{{ $t('menuitems.promo.text') }}</nuxt-link></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-3 col-xl-2">
            <div class="widget">
              <h4>{{$t('menuitems.gallery.text')}}</h4>
              <ul class="list">
                <li><nuxt-link :to="localePath(menuItems[4].link)">{{ $t('menuitems.gallery.text') }}</nuxt-link></li>
                <li><nuxt-link :to="localePath(menuItems[5].link)">{{ $t('menuitems.surrounding.text') }}</nuxt-link></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-6 col-xl-2">
            <div class="widget">
              <h4>{{$t('menuitems.contact_us.text')}}</h4>
              <ul class="list">
                <li><nuxt-link :to="localePath(menuItems[6].link)">{{ $t('menuitems.contact_us.text') }}</nuxt-link></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-6 col-xl-2">
            <h4 class="follow-us">{{$t('follow_us')}}</h4>
            <div class="social-icons social-icons-colored social-icons-rounded float-left">
              <ul>
                <li class="social-instagram"><a :href="home_social_media.instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li class="social-twitter"><a :href="home_social_media.twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li class="social-facebook"><a :href="home_social_media.facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li class="social-youtube"><a :href="home_social_media.youtube" target="_blank"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-content">
      <div class="container">
        <div class="copyright-text text-center">&copy; 2022 The Farrel Hotel. All Rights Reserved.</div>
      </div>
    </div>
  </footer>
</template>

<script>
import { mapGetters } from "vuex";
import {
  menuItems
} from "@/locales/menu";

export default {
  name: 'TemplateFooter',
  props: ['data'],
  data() {
    return {
      menuItems: menuItems
    }
  },
  computed: {
    ...mapGetters({
      home_social_media: "home/getHomeSocialMedia",
      home_contact: "home/getHomeContact",
    }),
  },
  async mounted() {
    await this.$store.dispatch('home/http_fetchSocialMedia');
    await this.$store.dispatch('home/http_fetchContact');
  },
}
</script>

<style scoped>
.follow-us {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
</style>
