<template>
  <header id="header" data-transparent="true" data-fullwidth="true">
    <div class="header-inner">
      <div class="container">
        <!--Logo-->
        <div id="logo">
          <nuxt-link :to="localePath('/')">
            <span class="logo-default"><img src="/logo-only-brown.png" style="width: 50px; margin-right: 5px; margin-bottom: 5px;" />The Farrel Hotel</span>
            <span class="logo-dark"><img src="/logo-only-white.png" style="width: 50px; margin-right: 5px; margin-bottom: 5px;" />The Farrel Hotel</span>
          </nuxt-link>
        </div>
        <!--End: Logo-->
        <!--Header Extras-->
        <div class="header-extras">
          <ul>
            <li>
              <div class="p-dropdown">
                <a href="javascript: void(0);"><i class="icon-globe"></i><span>{{ $i18n.locale }}</span></a>
                <ul class="p-dropdown-content">
                  <li><nuxt-link :to="switchLocalePath('id')">Bahasa</nuxt-link></li>
                  <li><nuxt-link :to="switchLocalePath('en')">English</nuxt-link></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!--end: Header Extras-->
        <!--Navigation Resposnive Trigger-->
        <div id="mainMenu-trigger">
          <a class="lines-button x"><span class="lines"></span></a>
        </div>
        <!--end: Navigation Resposnive Trigger-->
        <!--Navigation-->
        <div id="mainMenu">
          <div class="container">
            <nav>
              <ul>
                <template v-for="item in menuItems">
                  <li :key="item.id">
                    <nuxt-link :to="localePath(item.link)">{{ $t(item.label) }}</nuxt-link>
                  </li>
                </template>
              </ul>
            </nav>
          </div>
        </div>
        <!--end: Navigation-->
      </div>
    </div>
  </header>
</template>

<script>
import {
  menuItems
} from "@/locales/menu";

export default {
  name: 'TemplateHeaderLight',
  data() {
    return {
      menuItems: menuItems,
      current_language: this.$i18n.locale,
    };
  },
  methods: {
    setLanguage(locale) {
      this.$i18n.locale = locale;
      this.current_language = locale;
    },
  }
}
</script>
