<template>
  <section id="page-title" :data-bg-parallax="data.img">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="page-title">
        <h1 class="text-uppercase text-medium">{{$t(data.title)}}</h1>
        <span>{{data.desc}}</span>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['data']
}
</script>