<template>
  <div class="col-lg-4" data-animate="fadeInUp">
    <div class="team-member">
      <div class="team-image">
        <a :title="c_facility_name" data-lightbox="image" :href="data.picture_url">
          <img :src="data.picture_url_thumb" onerror="if (this.src != '/noimage.jpeg') this.src = '/noimage.jpeg';" />
        </a>
      </div>
      <div class="team-desc">
        <nuxt-link :to="localePath({path: '/facility/' + data.facility_name_slug})"><h3>{{c_facility_name}}</h3></nuxt-link>
        <p>{{c_facility_desc}}</p>
        <nuxt-link :to="localePath({path: '/facility/' + data.facility_name_slug})" class="item-link" style="display: flex; align-content: center;">
          {{$t('read_more')}} <i class="icon-chevron-right" style="align-self: center;"></i>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<style scoped>
.team-desc h3 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

.team-desc h3:hover {
  color: #cda85d;
}

.team-members .team-member .team-image img {
  width: 100% !important;
}

.team-desc p {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 10.8em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.8em;
  text-align: justify;
  display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;
}
</style>

<script>
export default {
  props: ['data'],
  computed: {
    c_facility_name: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.facility_name;
      }
      return this.data.facility_name_eng;
    },
    c_facility_desc: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.facility_description;
      }
      return this.data.facility_description_eng;
    }
  }
}
</script>
