<template>
  <div class="col-lg-4 col-md-12 col-12" data-animate="fadeInUp">
    <div class="plan" :class="index == 1 ? 'featured' : ''">
      <div class="plan-header">
        <h4>{{c_room_name}}</h4>
        <div class="plan-price">
          <sup>{{c_currency_symbol}}</sup>{{$numeral(data.room_price).format('0a')}}<span>/{{$t('night')}}</span>
        </div>
      </div>
      <div class="plan-list">
        <ul>
          <li v-for="item in data.rrmroom" :key="item.rrm_id">
            <i :class="'fa ' + item.roomfacility.icon_fa"></i>{{item.roomfacility.facility_name}}
          </li>
        </ul>
        <div class="plan-button">
          <nuxt-link :to="localePath({path: '/room/' + data.room_name_slug})" class="btn btn-light">{{$t('read_more')}}</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.plan-price {
  font-size: 50px !important;
}
</style>

<script>
export default {
  props: ['data', 'index'],
  computed: {
    c_room_name: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.room_name;
      }
      return this.data.room_name_eng;
    },
    c_room_desc: function() {
      if(this.$i18n.locale == 'id') {
        return this.data.room_description;
      }
      return this.data.room_description_eng;
    },
    c_currency_symbol: function() {
      return this.$numeral.locales[this.$numeral.locale()].currency.symbol
    },
  }
}
</script>